* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
}

.singleBook {
  width: 90%;
  margin-top: 18px;  
}

.App {
  /* text-align: center; */
  margin: 20px;
  /* font-size: 1rem; */
  line-height: 1.15rem;
  font-size: .8rem;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin-bottom: 8px;
}

.App-intro {
  font-size: large;
}

.bookTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.bookAuthor {
  font-size: 1.15rem;
  font-style: italic;
  font-weight: bold;
  margin: 10px 0;
}

.bookImage {
  float: right;
  width: 100px;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-top: 10px;
  margin-left: 10px;
}

.bookUrl {
  font-size: .75rem;

}

.category {
  display: inline;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: -.25px;
}




/* 

.singleBook
.bookTitle
.bookImage 
.coverImageUrl
.bookAuthor
.bookShort
.bookMoreInfo 
  .bookUrl
  
.category */
