* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
}

.app-header {
  background-color: #222;
  height: 150px;
}

.app-title {
  padding: 40px 0 15px 0;
  text-align: center;
  color: white;
  font-size: 3rem;
  line-height: 3.5rem;
}

.app-subtitle {
  padding: 15px 0 5px 0;
  font-size: 2.5rem;
  text-align: center;
  color: white;
}

.App {
  /* text-align: center; */
  margin: 20px;
  /* font-size: 1rem; */
  line-height: 1.15rem;
  font-size: .8rem;
}

.singleBook {
  display: block;
  width: 90%;
  margin-top: 24px; 
}

/* .App-title {
  font-size: 1.25em;
  margin-bottom: 8px;
  line-height: 1.2rem;
} */

h2 {
  font-size: 1em;
  margin-bottom: 8px;
  line-height: 1.5rem;
}

.App-intro {
  font-size: large;
}

.bookTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.bookAuthor {
  font-size: .8rem;
  font-style: italic;
  font-weight: bold;
  letter-spacing: -.25px;
  margin: 10px 0;
}

.bookImage {
  float: right;
  width: 80px;
  /* border-right: 1px solid lightgray; */
  /* border-bottom: 1px solid lightgray; */
  margin-top: 10px;
  margin-left: 10px;
}

.bookUrl {
  font-size: .75rem;

}

.category {
  display: inline;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: -.25px;
}

button {
  margin: 10px 0;
}

/* 

.singleBook
.bookTitle
.bookImage 
.coverImageUrl
.bookAuthor
.bookShort
.bookMoreInfo 
  .bookUrl
  
.category */
